---
title: Home
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  {% include nav.html %}

  <main>
    <div class="container">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">OU Thai Student Association</h1>
          <p class="col-md-8 fs-4">We consist of Thai students, Thai language students and Thai community in Athens,
            Ohio</p>
            <a href="about.html" class="btn btn-primary btn-lg">More about us</a>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-secondary rounded-3">
            <h2>Events</h2>
            <p>Check out our current and past events</p>
            <a href="events/" class="btn btn-outline-light">List of events</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Thai Classes</h2>
            <p>Interested in learning Thai?</p>
            <button class="btn btn-outline-secondary" type="button">More information</button>
          </div>
        </div>
      </div>
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h2>Current Executive Boards</h2>

          <div class="container-fluid d-flex flex-lg-row flex-md-column flex-sm-column me-auto ">
            <div class="card mb-4 me-2" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Paul Phongkusolchit</h5>
                <p class="card-text">President</p>
              </div>
            </div>
            <div class="card mb-4 me-2" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Saruda Seeharit</h5>
                <p class="card-text">Vice President</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <footer class="pt-3 mt-4 text-muted border-top">OU Thai Student Association</footer>
    </div>
  </main>
</body>

</html>