---
---

// Required
@import "bootstrap/functions";

// Default variable overrides
$primary: #157878;
$body-bg: #F9F7ED;
$body-color: #111;

$navbar-light-color: white;
$navbar-light-active-color: #F9F7ED;
$navbar-light-brand-color: white;
$navbar-light-disabled-color: grey;
$navbar-light-hover-color: #A4D65E;

@import "bootstrap/bootstrap";