<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#157878" />
    <meta name="msapplication-TileColor" content="#157878" />

    {% seo %} {% include analytics.html %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />

    <script
      src="https://kit.fontawesome.com/b76b43162d.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <script src="{{ '/assets/js/bootstrap.bundle.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>

    <style>
      .card {
        width: 100%;
        max-width: 875px;
        height: 100%;
        max-height: 500px;
      }

      .card .name {
        font-size: 3em;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <div
          class="card p-5 m-4 bg-info-subtle rounded-4 position-absolute top-50 start-50 translate-middle"
        >
          <h1 class="name mt-5">{{ page.card.name.eng }}</h1>
          <hr />
          <h4>{{ page.card.name.th }}</h4>
        </div>
      </div>
    </main>
  </body>
</html>
