<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}

  <body>
    {% include nav.html %}

    <main>
      <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {% if event.begin >= site.time %}
                <li class="breadcrumb-item"><a href="/events">Events</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="/events">Events</a></li>
                <li class="breadcrumb-item">
                  <a href="/events/past">Past Events</a>
                </li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">
                  {{ page.title }}
                </li>
              </ol>
            </nav>
            <h1>{{ page.title }}</h1>
            <p>
              <span style="font-weight: bold">Date & Time:</span> {{ page.begin
              | date: "%A, %B %d, %Y @ %l:%M %p"}}
              <span style="font-weight: bold">Location:</span> {{ page.location
              }}
            </p>
            <p class="col-md-8 fs-4">{{ page.description }}</p>
          </div>
        </div>
        <div class="p-5 mb-4 bg-light rounded-3">{{ content }}</div>
        {% if page.images %}
        <div class="p-5 mb-4 bg-light rounded-3">
          <h2>Image Gallery</h2>
          <p>{{ page.gallery_description }}</p>
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              {% for image in page.images %}
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="{{ forloop.index0 }}"
                class="{% if forloop.first %}active{% endif %}"
                aria-current="{% if forloop.first %}true{% endif %}"
                aria-label="Slide {{ forloop.index }}"
              ></button>
              {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for image in page.images %}
              <div
                class="carousel-item {% if forloop.first %}active{% endif %}"
              >
                <img
                  src="{{ image.path }}"
                  class="d-block w-100"
                  alt="{{ image.description }}"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ image.title }}</h5>
                  <p>{{ image.description }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        {% endif %} {% include footer.html %}
      </div>
    </main>
  </body>
</html>
