<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />

    {% seo %} {% include analytics.html %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/namelist.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <script src="{{ '/assets/js/bootstrap.bundle.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="p-5 mt-4 mb-4 bg-light rounded-3">
          <div class="container-fluid">
            <label for="eng-name" class="form-label">English Name</label>
            <input
              type="text"
              class="form-control"
              id="eng-name"
              placeholder="Fiona"
            />
          </div>
        </div>
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid">
            <ul id="found-names"></ul>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403.44 74.33">
        <path
          d="m 8.9009092,28.8331 0.08979,-14.783139 c 0,0 0.179583,-3.435281 3.4121158,-4.1986704 C 9.3498722,8.5153441 5.6683799,6.9885528 5.6683799,6.9885528 c 0,0 4.4896231,-4.3895259 11.4934421,-3.2444316 7.003815,1.1450919 7.811948,5.7254684 7.811948,5.7254684 l 0,19.2757534"
          id="chicken"
          class="common-draw"
          style="
            fill: none;
            stroke: #ffffff;
            stroke-width: 1.22713482;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
          "
        />
        <path
          d="M 19.866635,23.912395 C 19.583284,23.77072 17.3873,20.937193 14.978806,22.283119 c -2.691852,1.70011 -0.850059,4.179453 -0.850059,4.179453 0,0 2.691844,2.904361 5.596212,-0.566708 0.141676,-4.746154 0.07085,-11.263259 0.07085,-11.263259 0,0 -0.708383,-4.8170024 -6.092079,-5.3128694 -3.046044,0.070849 -4.6044785,-0.2125088 -7.7213558,1.4876004 1.1334092,-2.90436 2.9752021,-5.6670454 8.4297398,-6.0212373 3.18771,0.4958671 4.108619,2.33766 5.667053,2.6210103 2.195985,-0.2833503 3.47107,-1.9834681 3.47107,-1.9834681"
          id="boat"
          class="common-draw"
          style="
            fill: none;
            stroke: #ffffff;
            stroke-width: 1.19008088;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
          "
        />
        <path
          d="m 10.598371,11.061148 c 0,0 -7.5826781,2.461654 -5.8395313,-3.9047126 C 8.6809138,3.2517382 10.77269,7.8355105 10.77269,7.8355105 l -0.174319,19.8630535 14.380948,-0.08488 0,-21.9851702"
          id="leaf"
          class="common-draw"
          style="
            fill: none;
            stroke: #000000;
            stroke-width: 1.13411057;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
          "
        />
      </svg>
    </main>
    <script src="{{ '/assets/js/name-list/ejs.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script
      type="module"
      src="{{ '/assets/js/name-list/app.js?v=' | append: site.github.build_revision | relative_url }}"
    ></script>
  </body>
</html>
